<div class='col-xs-12 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1'>
  {{#each profiles}}
    <p class='link-text'><a href="//{{href}}"><img class='link-img' src='img/{{icon}}' alt='{{alt}}'/> {{name}} </a></p>
  {{/each}}
</div>
